.header {
    background: black;
}

.header ul {
    margin:0px;
    vertical-align: center;
    padding: 0px;
}
.header li {
    display: inline-block;
    list-style: none
}

.header a {
    display: inline-block;
    color: lightskyblue;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    margin: 0px 2px 0px 2px;
}

.header a:hover,
.header a:active,
.header a.active{
    background: #e8fffc;
    color: blue;
    border-radius: 10px 10px 0px 0px;
}